matplotlib==3.6.2
munch==2.5.0
numpy==1.23.5
pandas==1.5.2
PIL==1.1.6
pyYAML==6.0
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.1
wandb==0.13.7

--extra-index-url https://download.pytorch.org/whl/cu117
